{% extends "bootstrap/base.html" %}
{% block title %} MPA Liste de courses {% endblock %}
<nav>
  <ul>
  <li>
    <a href="/listes">Mes Listes</a>
  </li>
  <li>
    <a href="/categories">Mes Catégories</a>
  </li>
  <li>
    <a href="/magasins">Mes Magasins</a>
  </li>
  <li>
  <a href="/recettes">Mes Recettes</a>
  </li>
</ul>
</nav>



{% block content %}
  {% block contenu %}
  <h2>Nom de la liste : <strong>listeCoursesRepasNoel</strong> Catégorie : <strong>denrées</strong></h2>
  <table>
    <tr>
      <td><strong>Article</strong></td>
      <td><strong>Quantité</strong></td>
      <td><strong>Conditionnement</strong></td>
    </tr>
    <tr>
      <td>foie gras</td>
      <td>1</td>
      <td>500g</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
<h3>Calcul Prix/(enseigne ou maximum)</h3>
  {% endblock %}
{% endblock %}
